[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
tensorflow = "*"
numpy = "*"
pillow = "*"
python-dotenv = "*"
pytest = "*"
httpx = "*"
pydantic = "*"
gunicorn = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.10"
